In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df = pd.read_csv("data/oes_chinese_tariffs_naics_state_total_employment.csv")

In [8]:
# Convert NAICS column to string data type
# This is important because NAICS codes are identifiers, not numeric values for calculations
# Converting to string prevents leading zeros from being dropped and enables proper string operations
df['NAICS'] = df['NAICS'].astype(str)

# Verify the conversion
print("NAICS column is now of type:", df['NAICS'].dtype)

# Display the first few rows to confirm the conversion worked correctly
df.head()

NAICS column is now of type: object

    NAICS                           NAICS_TITLE        State  Total_Employment
0  486100  Pipeline Transportation of Crude Oil       Alaska             720.0
1  486100  Pipeline Transportation of Crude Oil   California             330.0
2  486100  Pipeline Transportation of Crude Oil      Georgia              70.0
3  486100  Pipeline Transportation of Crude Oil     Illinois             390.0
4  486100  Pipeline Transportation of Crude Oil  Mississippi             130.0

In [9]:
df[df["NAICS"] == '486100'].groupby("State")[
    "Total_Employment"
].sum().sort_values(ascending=False)

State
Texas          6470.0
Ohio           1310.0
Alaska          720.0
Illinois        390.0
California      330.0
Wyoming         210.0
Oklahoma        150.0
Montana         140.0
Mississippi     130.0
Georgia          70.0
Name: Total_Employment, dtype: float64

In [6]:
df.dtypes

NAICS                 int64
NAICS_TITLE          object
State                object
Total_Employment    float64
dtype: object